
	<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Thông tin chuyến bay</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <label>Danh sách chuyến bay đã đặt</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>Giờ</td>
                    <td>Hạng</td>
                    <td>Mức giá</td>
                    <td>Giá bán</td>
                <tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in luutru">
                    <td>{{a.gio}}</td>
                    <td>{{a.hang}}</td>
                    <td>{{a.mucgia}}</td>
                    <td>{{a.giaban}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <label for="madatcho">Mã đặt chỗ: </label>
            <input type="text" name="madatcho" value="{{madatcho}}" id="madatcho" disabled="true">
        </div>
        <div class="row">
            <label>Tổng tiền: {{tongtien}}</label>
        </div>
        <div class="row">
            <label>Cập nhật thông tin hành khách</label>
        </div>
        <label>Số người: {{songuoi}}</label>
        <form class="form-inline">
            <h6>Nhập thông tin hành khách 1</h6>
            <div class="form-group">
                <label for="ten">Tên: </label>
                <input type="text" class="form-control" id="ten">
            </div>
            <div class="form-group">
                <label for="hochieu">Hộ chiếu: </label>
                <input type="text" class="form-control" id="hochieu">
            </div>
          <button type="submit" class="btn btn-default" ng-click="them()">Thêm</button>
        </form>
        
        <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-default" ng-click="hoantat()">Hoàn tất</button>
          </div>
        </div>
      </div>
    </div>
  </div>
